body {
    width: 100vw;
    height: 100vw;
    text-align: center;
}

.bar {
    fill: #01BAEF;
}

.bar:hover {
    fill: #0080BF;
}

#tooltip {
    display: none;
}

.bar:hover ~ #tooltip {
    display: block;
    color: red;
}