body {
    text-align: center;
}

.axis-label {
    font-size: 1.5rem;
}

.tick {
    font-size: 0.8rem;
}

.tick > line, .domain {
    stroke-width: 2px;
}


#tooltip {
    background-color: lavender;
    border-radius: 10px;
    padding-top: -20px;
}

.tooltipInfo {
    text-align: left;
    padding: 0 10px 0 10px;
}

.legend-entry {
    font-size: 1.2rem;
}